page-login {

}

.background{
	background-image:url("../../assets/img/LoginBackground.png");
}

.logo
{
	margin-left:55px;
	margin-top:50px
}
.float
{
	width:260px;height:20px;margin-top:50px;
}
.signin
{
	color:black;
	font-size:18px;
	font-family:"Century Gothic";
	float:left;
	margin-top:5px;
	opacity:0.6;
}
.signup
{
	color:black;
	font-size:18px;
	font-family:"Century Gothic";
	float:left;
	margin-top:5px;
	opacity:0.6;
	margin-left:20px;
}
.line
{
	width:2px;height:35px;background-color:white;float:left;margin-left:20px; 
}
.formbackground
{
	border-bottom:2px solid white;
	margin-top:70px;
  font-size: 14px;
	font-family:"Century Gothic";
	font-weight:bold;
  color: white;
}
.formbackground2
{
	border-bottom:2px solid white;
	margin-top:30px;
  font-size: 14px;
	font-family:"Century Gothic";
	font-weight:bold;
  color: white;
}

  input[type=text].formbackground::placeholder {
    color: white;
    opacity: 1;
    font-size: 14px;
  }
.signupbutton
{
	background-color:#00A2BD;
	border-radius:25px;
	font-family: "Century Gothic";
	font-style:italic;
	font-size:15px;
	margin-top:20px;
}
a.or
{
	font-size: 14px;
	font-family:"Century Gothic";
	font-weight:bold;
	margin-left:130px;
	margin-top:15px;
	color:white;
}
.facebook
{
	margin-top:25px;
}