page-lobster-mac {

}
.lobsterline
{
	width:105.5px;
	height:2px;
	background-color:#CECECE;
	margin-left:100px;
	margin-top:-10px;
}
.lobsterdetails
{
	color:#000000;
	font-size:13px;
	font-family:'Century Gothic';
	width:250px;
	margin-left:25px;
	line-height: 1.6;
}
i.lobsterprice
{
	color:#000000;
	font-size:15px;
	font-family:'Century Gothic';
	font-weight:bold;
}
.lobsterspecialrequest
{
	color:#000000;
	font-size:13px;
	font-family:'Century Gothic';
	font-style:italic; 
}