<ion-header >

    <img src="../../assets/img/cartpayment.png" style="display:block;width:100%;height:231px;margin-left:auto;margin-right:auto;" />
</ion-header>


<ion-content class="bg-style">
	
	<p class="recommendation">Here are some recommended item you can also order:</p>
<div class="boxbox">
	<div class="lobstertotsbox">
	
	<h1 class="lobstertitle">Lobster Tater Tots</h1>
	<p class="lobstersubtitle">Starters</p>
	<p class="lobsterprice">$32</p>
	<img src="../../assets/img/lobster tater tots.png" class="lobsterpicture">
	
	</div>
	
	<div class="friesbox">
	
	<h1 class="friestitle">Overeasy Fries</h1>
	<p class="friessubtitle">Starters</p>
	<p class="friesprice">$12</p>
	<img src="../../assets/img/Overeasy fries.png" class="friespicture">
	
	</div>
   </div>
      

        <ion-item  *ngFor="let item of cart">
          
		
            <h2 class="cartitle"><b>{{item.name}}</b></h2>
            <p class="cartitle">${{item.price}} x {{item.quantity}} = ${{item.price * item.quantity}}</p>
            
            <button ion-button clear  (click)="increment(item)" >
              <ion-icon color="positive" style=" font-size: 25px;" name="ios-arrow-dropup-circle"></ion-icon>
            </button>
            
            <button ion-button clear (click)="decrement(item)" >
              <ion-icon color="positive" style=" font-size: 25px;" name="ios-arrow-dropdown-circle"></ion-icon>
            </button>
            
            <button style=" font-size: 20px;" ion-button clear  (click)="remove(item)">
              <ion-icon color="positive" name="ios-remove-circle"></ion-icon>
            </button>

            
        </ion-item>
        <ion-item *ngIf="cartAmount>=0">
            <ion-textarea placeholder="Add a note (More sauce)"></ion-textarea>
        </ion-item>
        <ion-item >
            <h2 class="subcartitle">SubTotal</h2> 
            <h2 item-right >${{cartAmount}}</h2>
        </ion-item>
        <ion-item >
            <h2 class="subcartitle">GST</h2> 
            <h2 item-right >${{GST}}</h2>
        </ion-item>
        <ion-item >
            <h2 class="cartitle">Grand Total</h2> 
            <h2 item-right >${{grandtotal}}</h2>
        </ion-item>
          
        <ion-item *ngIf="cartAmount==0">
          <h2 class="center">Cart is empty!</h2>       
        </ion-item>
        
        <button fixed ion-button icon-start block color="light" (click)="checkout()" class="addtocart">
            <ion-icon name="ios-cart"></ion-icon>
            Make Payment!
        </button>    



    
    </ion-content>