page-view-expenses {

}

.backgroundpage
{
	background-color:#F1F1F1;
}
.lineorders
{
	width:100%;
	height:2px;
	background-color:black;
	opacity:0.7;
}
.currentorders
{
	font-family:"Century Gothic";
	font-size:14px;
	font-weight:bold;
	margin-top:10px;
	margin-left:15px;
	opacity:0.7;
}
.lineorders2
{
	width:100%;
	height:2px;
	background-color:black;
	opacity:0.7;
}
h1.item
{
	font-family:"Century Gothic";
	font-size:12px;
	font-weight:bold;
}
p.itema
{
	font-family:"Century Gothic";
	font-size:9px;
	font-weight:bold;
	margin-top:5px;
}