page-payment {

}
#page5
{
	background-color:#F1F1F1;
}
#payment-input4
{
	background-color:#F1F1F1;
}
#payment-checkbox1
{
	background-color:#F1F1F1;
}

  input[type=text].creditcardnumber::placeholder {
    color:black;
    opacity: 0.6;
	  font-family:"Century Gothic";
    font-size: 13px;
  }
.creditcardnumber
{
	border-bottom:2px solid black;
	margin-top:15px;
  font-size: 13px;
	font-family:"Century Gothic";
}
.monthcreditcard
{
	margin-top:15px;
  font-size: 13px;
	font-family:"Century Gothic";
}
.continuebutton
{
	width:100%;
	background-color:#44A6B7;
	color:white;
	font-family:"Century Gothic";
	font-size:14px;
}
.cancelbutton
{
	width:100%;
	background-color:#1B545E;
	color:white;
	font-family:"Century Gothic";
	font-size:14px;
}