page-menu {

}

.menubackground
{
	background-image:url("../../assets/img/Group 56.png");
	height:185px;
}
.buttoncart
{
	position:absolute;
	top:45px;
	left:260px;
}

#menu-list3
{
	background-color:Red;
}

a.menuword
{
	font-family:"Century Gothic";
	font-size:14px;
	color:black;
	font-weight:bold;
}
